/*Color de barra*/
.navbar-inverse {
    background-color: #2c3e50;
    /*height: 100px;*/
}

/*Color de la letra del la barra de menu*/
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}


.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #bdc3c7;
    /*background-color: #7f8c8d;*/
}


.navbar-inverse .navbar-brand {
    color: #fff;
}



.col-md-2 control-label {
    text-align:right;
}


/*Titulos*/
h1,h2,h3,h4,h5,h6 {
    color: #2c3e50;
}

/*sombreado de texto*/
#shadow
{
    text-shadow: 4px 4px 6px rgba(150, 150, 150, 1);
}


/*JUstificado de texto*/
#justificado{
    text-align: justify;
    text-justify: inter-word;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #f1c40f;
}


.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #f1c40f;
}


.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #f1c40f;
}

hr{
    border-color:#f1c40f;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    border-width: 0 0 1px;
}

.navbar-collapse.in {
    background: #2c3e50;
}

navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #337ab7;
}

navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color:#337ab7;
}